div{
    display: flex;
    justify-content: center;
    margin-block: 2rem;
}
div input{
    border-radius: 10rem 0 0 10rem;
    border: none;
    height: 3rem;
    width: 20rem;
    background-color: #f1f1f1;
    padding: 1.2rem;
    font-size: 1.2rem;
    outline: none;
}
div button{
    border-radius: 0rem 10rem 10rem 0rem;
    color: white;
    height: 3rem;
    width: 5rem;
    font-size: 1rem;
    border:none;
    background-color: #3B71CA;
    opacity: .8;
}
div button:hover{
    opacity: 1;
    cursor: pointer;
}
div:hover input,div:hover button{
    box-shadow: 2px 2px 6px grey;
}